.table {
    margin-top: 20px;
    overflow: scroll;
    height: 400px;
    color: #6a5d5d;
    background-color: white;
}

.table::-webkit-scrollbar {
    width: 1em;
}

.table::-webkit-scrollbar-track {
    box-shadow: inset 6px rgb(0, 0, 0);
}
   
.table::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
}

.table tr {
    display: flex;
    justify-content: space-between;
}

.table td {
    padding: 0.5rem;
}

.table tr:nth-of-type(odd) {
    background-color: #f3f2f8;
}